{% extends "input/base.html" %}

{% block page_title %}
    <i class="feather icon-search"></i>&nbsp; Input Details of {{ object | upper }}
{% endblock page_title %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'input_delete' object.id %}" title="Delete this input">
                <button type="button" class="btn btn-danger waves-effect float-right">
                    <i class="feather icon-x"></i> &nbsp; Delete
                </button>
            </a>
        </div>
    </div>
    <hr/>
    <h5 class="font-weight-bold py-3 mb-0">Input Properties</h5>
    <div class="row">
        <div class="col-md-12">
            {% include "table/object_table.html" %}
        </div>
    </div>
    <hr/>
    <h5 class="font-weight-bold py-3 mb-0">File List</h5>
    <div class="row">
        <div class="col-md-12">
            <table id="document_table" class="table table-striped table-bordered text-wrap" style="width:100%">
                <thead class="text-secondary">
                <th>ID</th>
                <th>Name</th>
                {% if input.user == request.user or user.is_superuser %}
                    <th>Actions</th>
                {% endif %}
                </thead>
                <tbody>
                {% for d in object.file_set.all %}
                    {% if d %}
                        <tr>
                            <td>{{ d.id }}</td>
                            <td>
                                <a href="{{ d.file.url }}" download>{{ d.name }}</a>
                            </td>
                            <td style="width:60px">
                                {% if input.user == request.user or user.is_superuser %}
                                    <a href="{% url 'file_delete' d.id %}"
                                       title="Delete this file?">
                                        <i class="feather icon-x text-danger"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

