<head>
    <title>Sustainable Blue</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/portal/img/favicon.ico">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="/static/portal/fonts/fontawesome.css">
    <link rel="stylesheet" href="/static/portal/fonts/ionicons.css">
    <link rel="stylesheet" href="/static/portal/fonts/linearicons.css">
    <link rel="stylesheet" href="/static/portal/fonts/open-iconic.css">
    <link rel="stylesheet" href="/static/portal/fonts/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/static/portal/fonts/feather.css">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/static/portal/css/bootstrap-material.css">
    <link rel="stylesheet" href="/static/portal/css/shreerang-material.css">
    <link rel="stylesheet" href="/static/portal/css/uikit.css">

    <!-- Libs -->
    <link rel="stylesheet" href="/static/portal/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/portal/libs/flot/flot.css">

    <!-- DataTable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css"/>

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>